<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.codework.mysqlcomn">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registeru" />
        <activity android:name=".Student" />
        <activity
            android:name=".CreateQuiz"
            android:label="@string/title_activity_create_quiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Adminscr"
            android:label="@string/title_activity_adminscr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FaddQuiz" />
        <activity android:name=".FaddQuiz2" />
        <activity android:name=".FaddQuiz3" />
        <activity android:name=".Fstud1" />
        <activity android:name=".FstudGive" />
        <activity android:name=".Fstud2" />
        <activity android:name=".Display"></activity>
    </application>

</manifest>